* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'NanumSquareNeo', 'RixInuaridurine';
    font-size: 16px;
    line-height: 24px;
    color: #402e32;
    cursor : url(../img/mouse_standard.png) 10 10, auto;
}



/* header */
#header_wrap {
    height: 100px;
    background-color: #fff6ec;
}
.header {
    width: 1320px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    position: relative;
    /* background-color: yellow; */
}
.header h1 {
    padding-top: 15px;
    display: block;
    margin-right: 50px;
}
.header h1 a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.gnb {
    display: flex;
}
.gnb>li>a {
    display: block;
    font-weight: 900;
    padding: 45px 40px 31px;
    transition: transform 0.5s;
    cursor : url(../img/mouse_click.png) 16 16, auto;
    /* background-color: yellowgreen; */
}
.gnb>li>.hover1:hover {
    color: #ff9122;
    transition: transform 0.5s;
    transform: translateY(10px);
    background: url(../img/header_hover_1.png) no-repeat center 0;
}
.gnb>li>.hover2:hover {
    color: #ff9122;
    transition: transform 0.5s;
    transform: translateY(10px);
    background: url(../img/header_hover_2.png) no-repeat center 0;
}
.gnb>li>.hover3:hover {
    color: #ff9122;
    transition: transform 0.5s;
    transform: translateY(10px);
    background: url(../img/header_hover_3.png) no-repeat center 0;
}
.gnb>li>.hover4:hover {
    color: #ff9122;
    transition: transform 0.5s;
    transform: translateY(10px);
    background: url(../img/header_hover_4.png) no-repeat center 0;
}
.util {
    display: flex;
    position: absolute;
    top: 24px;
    right: 0;
}
.cart{
    cursor : url(../img/mouse_click.png) 16 16, auto;
    background: url(../img/header_cart.png) no-repeat 19px 7px;
}
.cart:hover{
    background: url(../img/header_cart_hover.png) no-repeat 19px 7px;
}
.login{
    cursor : url(../img/mouse_click.png) 16 16, auto;
    background: url(../img/header_login.png) no-repeat 27px 7px;
}
.login:hover{
    background: url(../img/header_login_hover.png) no-repeat 27px 7px;
}
.util>li>a {
    display: block;
    font-weight: 900;
    color: #9A9389;
    padding: 35px 15px 0;
    transition: all 0.5s;
}

.util>li>a:hover {
    color: #402e32;
    transform: translateY(-2px);
    transition: all 0.5s;
}


/* banner */
#banner .swiper {
    width: 100%;
    height: 100%;
}

#banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#banner .swiper-pagination-bullet{
    background-color: #ff7700;
    width: 50px;
    border-radius: 10px;
}


/* brand */
#brand{
    width: 1320px;
    margin: 215px auto;
    text-align: center;
    box-sizing: border-box;
    /* background-color: yellow; */
}
#brand img{
    margin-bottom: 50px;
}
#brand h4{
    color: #ff9122;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;
}
#brand p{
    line-height: 30px;
    margin-bottom: 50px;
}
#brand span{
    color: #ff9122;
    font-weight: 700;
}
#brand a{
    display: inline-block;
    color: #ff9122;
    font-weight: 900;
    font-size: 24px;
    border: 2px solid #ff9122;
    border-radius: 30px;
    padding: 10px 18px 8px 20px;
    cursor : url(../img/mouse_click.png) 16 16, auto;
    transition: all 0.6s;
}
#brand a:hover{ /* ★ 호버 ★ */
    background-color: #ff9122;
    color: #fff;
    transition: all 0.6s;
    transform: scale(1.1);
}


/* product */
#best_product{
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    /* background-color: yellow; */
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}
.egg{
    width: 151px;
    height: 206px;
    background: url(../img/main_3D_egg.png) no-repeat;
    cursor: pointer;
    cursor : url(../img/mouse_click.png) 10 10, auto;
}
.egg:hover{
    background: url(../img/main_3D_egg_hover.png) no-repeat;
}
.title p{
    font-size: 36px;
    font-weight: 800;
    margin-left: 5px;
}

#news{
    width: 1320px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    /* .card 기준 */
    /* background-color: yellow; */
}
.card{
    width: 1150px;
    height: 550px;
    box-sizing: border-box;
    padding: 30px 20px 40px;
    /* background-color: wheat; */
    position: absolute;
    top: 0;
    left: 85px;
    /* background-color: yellowgreen; */
}
.card .swiper-slide p{
    font-size: 16px;
    margin-top: 320px;
    padding-bottom: 30px;
}
.card .swiper-slide h4{
    font-size: 20px;
    font-weight: 800;
}
.card .swiper-slide{
    text-align: center;
    width: 360px;
    height: 460px;
    box-sizing: border-box;
    border-radius: 30px;
    position: relative;
    /* .lunch-oo 기준 */
    transition: all 1s;
}
.card .swiper-slide:hover{
    transform: translateY(-15px);
    box-shadow: 0px 3px 15px #402e3265;
    transition: all 0.7s;
}

.card .swiper-slide .lunch_square{
    width: 90%;
    position: absolute;
    top: 30px;
    left: 18px;
}
.card .swiper-slide .lunch_circle{
    width: 70%;
    position: absolute;
    top: 30px;
    left: 50px;
}
.card .swiper-slide:nth-child(1), .swiper-slide:nth-child(4){
    background-color: #f0ffbf;
}
.card .swiper-slide:nth-child(2), .swiper-slide:nth-child(5){
    background-color: #fff3ae;
}
.card .swiper-slide:nth-child(3), .swiper-slide:nth-child(6){
    background-color: #ffd9ae;
}

.card .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 0;
    background-image: url(../img/title_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor : url(../img/mouse_click.png) 10 10, auto;
}
.swiper-button-prev {
    left: -20px;
    right: auto;
    color: #ff9122;
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.swiper-button-next{
    right: -20px;
    left: auto;
    color: #ff9122;
    cursor : url(../img/mouse_click.png) 16 16, auto;
}


/* main_product */
.top{
    background-color: #fff6ec;
    height: 1115px;
    margin-top: 150px;
    margin-bottom: 150px;
}
#main_product_wrap{
    display: flex;
    width: 1320px;
    height: 1115px;
    margin: 0 auto;
    /* background-color: yellow; */
}
.main_product{
    width: 500px;
    height: 860px;
    margin: 200px auto;
    padding-left: 50px;
    background: url(../img/product_vegetable_1.png) no-repeat center bottom 30px;
}
.product_text p{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin: 30px 0 100px;
}
.product_text a{
    display: inline-block;
    color: #ff9122;
    font-weight: 900;
    font-size: 24px;
    border: 2px solid #ff9122;
    border-radius: 30px;
    padding: 10px 18px 8px 20px;
    transition: all 0.6s;
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.product_text a:hover{
    background-color: #ff9122;
    color: #fff;
    transition: all 0.6s;
    transform: scale(1.1);
}

#product_slide{
    display: flex;
    margin-left: 100px;
}
#product_slide img{
    width: 100%;
}

#slide1 {
    height: 1085px;
    /*슬라이드를 보여주고 싶은 높이 설정*/
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    margin-left: 50px;
}
.slide_inner1 {
    height: 4200px;
    /*ul길이의 두배!*/
    animation: rotate_product 30s linear infinite;
}
.slide_inner1 ul {
    height: 2500px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#slide2 {
    height: 1085px;
    /*슬라이드를 보여주고 싶은 높이 설정*/
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    margin-left: 30px;
}
.slide_inner2 {
    height: 4200px;
    /*ul길이의 두배!*/
    animation: rotate_product 30s linear infinite reverse;
}
.slide_inner2 ul {
    height: 1900px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes rotate_product {
    0% {
        transform: translateY(0);
    }

    100% {
        transform:translateY(-50%);
    }
}


/* 이벤트 */
#event{
    width: 1320px;
    margin: 200px auto;
}
.pig{
    width: 151px;
    height: 206px;
    background: url(../img/main_3D_pig.png) no-repeat;
    cursor: pointer;
    cursor : url(../img/mouse_click.png) 10 10, auto;
}
.pig:hover{
    background: url(../img/main_3D_pig_hover.png) no-repeat;
}
.event_banner{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.event_banner li{
    text-align: center;
    transition: 0.8s;
}
.event_banner li:hover img, .event_banner li:hover h3, .event_banner li:hover p{
    transition: 0.8s;
    transform: translateY(-15px);
    color: #ff9122;
}
.event_banner li a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.event_banner h3{
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0 10px;
    transition: 0.8s;
}
.event_banner h3:hover{
    color: #ff9122;
}
.event_banner p{
    font-size: 20px;
    transition: 0.8s;
}
.event_banner img{
    width: 640px;
    height: 360px;
    border-radius: 30px;
    transition: 0.8s;
}


/* 중간 배송 배너 */
#middle_banner{
    width: 100%;
    margin: 0 auto;
    height: 300px;
}
#middle_banner a img{
    display: block;
    margin: 0 auto;
    cursor : url(../img/mouse_click.png) 10 10, auto;
}



/* 상품 구매 후기 */
#review{
    width: 1320px;
    margin: 150px auto 200px;
}
.carrot{
    width: 151px;
    height: 206px;
    background: url(../img/main_3D_carrot.png) no-repeat;
    cursor: pointer;
    cursor : url(../img/mouse_click.png) 10 10, auto;
}
.carrot:hover{
    width: 151px;
    height: 206px;
    background: url(../img/main_3D_carrot_hover.png) no-repeat;
}
.carrot_p{
    margin-top: 50px;
}
.review_img{
    display: flex;
    justify-content: center;
    gap: 40px;
    transition: 0.8s;
    margin-top: 60px;
}
.review_img li{
    width: 300px;
    height: 400px;
    position: relative;
}
.review_img li a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.review_img img{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    transition: 0.8s;
}
.review_img li a:hover img{
    transform: rotateY(180deg);
    opacity: 1;
    transition: 1s;
}


/* 인스타그램 */
#insta_wrap{
    height: 905px;
    background-color: #fff6ec;
}
.insta{
    /* width: 1320px; */
    height: 905px;
    margin: 0 auto;
    padding: 120px 0;
    box-sizing: border-box;
}
.potato{
    width: 151px;
    height: 206px;
    background: url(../img/main_3D_potato.png) no-repeat;
    cursor: pointer;
    cursor : url(../img/mouse_click.png) 10 10, auto;
}
.potato:hover{
    width: 151px;
    height: 206px;
    background: url(../img/main_3D_potato_hover.png) no-repeat;
}
.potato_p{
    margin-top: -55px;
}

/* 인스타그램 이미지-흘러가는 소스 */
#slide {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

/*width를 본인에 맞게 수정하여 사용하세요! --아래 3개*/
.slide_inner {
    width: 7200px;
    /*ul길이의 두배!*/
    display: flex;
    animation: rotate_insta 50s linear infinite;
}

.slide_inner ul {
    display: flex;
    width: 4000px;
    /*li크기를 전부 합 한 것보다 더 여유있게.*/
    justify-content: space-between;
}

.slide_inner ul li {
    width: 360px;
    padding: 0 15px;
}

.slide_inner ul li a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.slide_inner ul li img {
    width: 100%;
}

.slide_inner:hover {
    animation-play-state: paused;
}


/*슬라이드에 호버시 애니메이션이 멈추게 만듦*/
#slide p {
    position: absolute;
    bottom: 0px;
    left: 50%;
    cursor: pointer;
}

@keyframes rotate_insta {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -4000px;
    }
}


/* footer */
#footer_wrap{
    height: 400px;
    background-color: #ff9122;
}
.footer{
    width: 1320px;
    height: 400px;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
    /* 푸터의 기준 */
    background: url(../img/footer_3D_rice.png) no-repeat right 60px top 150px ;
}
.footer_link{
    display: flex;
}
.footer_link li a{
    display: block;
    color: #fff;
    font-weight: 700;
    margin-right: 50px;
    cursor : url(../img/mouse_click.png) 16 16, auto; 
}
.footer_link li a:hover{
    color: #402e32;
}
.footer_inner{
    margin-top: 50px;
    display: flex;
}
.footer_inner h1 a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.footer_inner_text{
    margin-left: 80px;
}
.footer_inner_text li{
    color: #fff;
    line-height: 30px;
}

.sns{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 23px;
    right: 20px;
}
.sns li a{
    opacity: 0.7;
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.sns li a:hover{
    opacity: 1;
}


/* top버튼 */
.top_button{
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    animation: topbutton 1.2s infinite linear alternate;
}
.top_button a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.top_button img{
    width: 90%;
}

@keyframes topbutton{
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
