* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'NanumSquareNeo', 'RixInuaridurine';
    font-size: 16px;
    line-height: 24px;
    color: #402e32;
    background-color: #FFF6EC;
    cursor : url(../img/mouse_standard.png) 10 10, auto;
}

#wrap_wrap{
    min-width: 1400px;
    overflow: hidden;
}

/* header */
#header_wrap {
    height: 100px;
    background-color: #fff6ec;
}
.header {
    width: 1320px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    position: relative;
    /* background-color: yellow; */
}
.header h1 {
    padding-top: 15px;
    display: block;
    margin-right: 50px;
}
.header h1 a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.gnb {
    display: flex;
}
.gnb>li>a {
    display: block;
    font-weight: 900;
    padding: 45px 40px 31px;
    transition: transform 0.5s;
    cursor : url(../img/mouse_click.png) 16 16, auto;
    /* background-color: yellowgreen; */
}
.gnb>li>.hover1:hover {
    color: #ff9122;
    transition: transform 0.5s;
    transform: translateY(10px);
    background: url(../img/header_hover_1.png) no-repeat center 0;
}
.gnb>li>.hover2:hover {
    color: #ff9122;
    transition: transform 0.5s;
    transform: translateY(10px);
    background: url(../img/header_hover_2.png) no-repeat center 0;
}
.gnb>li>.hover3:hover {
    color: #ff9122;
    transition: transform 0.5s;
    transform: translateY(10px);
    background: url(../img/header_hover_3.png) no-repeat center 0;
}
.gnb>li>.hover4:hover {
    color: #ff9122;
    transition: transform 0.5s;
    transform: translateY(10px);
    background: url(../img/header_hover_4.png) no-repeat center 0;
}
.util {
    display: flex;
    position: absolute;
    top: 24px;
    right: 0;
}
.cart{
    cursor : url(../img/mouse_click.png) 16 16, auto;
    background: url(../img/header_cart.png) no-repeat 19px 7px;
}
.cart:hover{
    background: url(../img/header_cart_hover.png) no-repeat 19px 7px;
}
.login{
    cursor : url(../img/mouse_click.png) 16 16, auto;
    background: url(../img/header_login.png) no-repeat 27px 7px;
}
.login:hover{
    background: url(../img/header_login_hover.png) no-repeat 27px 7px;
}
.util>li>a {
    display: block;
    font-weight: 900;
    color: #9A9389;
    padding: 35px 15px 0;
    transition: all 0.5s;
}

.util>li>a:hover {
    color: #402e32;
    transform: translateY(-2px);
    transition: all 0.5s;
}


/* banner */
#banner{
    margin: 0 auto;
    /* background: url(../img/brand_main_banner.jpg) no-repeat center; */
}
#banner img{
    display: block;
    width: 100%;
}

/* brand story */
#brand_story{
    width: 1320px;
    margin: 215px auto;
    text-align: center;
    /* background-color: yellow; */
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.title h2{
    font-size: 36px;
    font-weight: 800;
}
#brand_story p{
    margin: 30px 0 200px 0;
    font-size: 20px;
    line-height: 40px;   
}
#brand_story span{
    color: #ff9912;
    font-weight: 800;
}
.talk li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    /* background-color: yellowgreen; */
}
.bubble{
    filter: drop-shadow(10px 10px 10px rgba(172, 97, 0, 0.247));
}
.bubble2{
    filter: drop-shadow(-10px 10px 10px rgba(172, 97, 0, 0.247));
}
#brand_story h3{
    font-weight: 800;
    font-size: 40px;
    color: #ff9912;
    margin-bottom: 70px;
}
.keyword{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.big{
    font-size: 24px;
}

/* brand ci */
#brand_ci{
    width: 1320px;
    margin: 300px auto 250px; 
}
.main_text{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 150px;
    line-height: 40px;
}
.main_text span{
    font-weight: 800;
    color: #ff9912;
}
.design h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}
.design_in{
    display: flex;;
}
.design_in li img{
    display: block;
    margin-right: 195px;
}
.design_in li:nth-child(2){
    margin-top: 15px;
}
.use_font{
    display: flex;
    gap: 5px;
}
.bold{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 800;
}
.font{
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'RixInuaridurine';
}
.design_in p{
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 30px;
}
.design_in p span{
    color: #ff9912;
    font-weight: 800;
}

.color_system{
    margin-top: 200px;
}
.color_system h2{
    font-size: 32px;
    font-weight: 800;
}
.color_title{
    display: flex;
    gap: 460px;
    margin-top: 20px;
}
.color_title li{
    font-size: 24px;
    font-weight: 800;
}
.color_img{
    display: flex;
}
.color_img li:nth-child(2){
    margin-left: 220px;
}
.color_img li img{
    margin: 30px 50px 0 0;
}

/* footer */
#footer_wrap{
    height: 400px;
    background-color: #ff9122;
}
.footer{
    width: 1320px;
    height: 400px;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
    /* 푸터의 기준 */
    background: url(../img/footer_3D_rice.png) no-repeat right 60px top 150px ;
}
.footer_link{
    display: flex;
}
.footer_link li a{
    display: block;
    color: #fff;
    font-weight: 700;
    margin-right: 50px;
    cursor : url(../img/mouse_click.png) 16 16, auto; 
}
.footer_link li a:hover{
    color: #402e32;
}
.footer_inner{
    margin-top: 50px;
    display: flex;
}
.footer_inner h1 a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.footer_inner_text{
    margin-left: 80px;
}
.footer_inner_text li{
    color: #fff;
    line-height: 30px;
}

.sns{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 23px;
    right: 20px;
}
.sns li a{
    opacity: 0.7;
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.sns li a:hover{
    opacity: 1;
}


/* top버튼 */
.top_button{
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    animation: topbutton 1.2s infinite linear alternate;
}
.top_button a{
    cursor : url(../img/mouse_click.png) 16 16, auto;
}
.top_button img{
    width: 90%;
}

@keyframes topbutton{
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}